<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
</head>
<body>

    <header>I'm the Header</header>

    <article>I'm the article

        {{{content}}}

    </article>
</body>
</html>