<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{data.title}}</title>
</head>
<body>

    <header>I'm the Header</header>
    <div>{{data.title}}</div>
    <div>{{{data.randomvar}}}</div>
    <article>I'm the article

        {{{content}}}

    </article>
</body>
</html>